@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="mt-4">
    <p>Welcome to the Bioscoop Casus application frontend.</p>
    <a href="/seat-reservation" class="btn btn-primary me-2">Reserveer een Stoel</a>
    <a href="/ticketprint" class="btn btn-primary me-2">Print je ticket uit</a>
    <a href="/login" class="btn btn-outline-primary">Admin Login</a>
</div>